/* Menu
 * –––––––––––––––––––––––––––––––––––––––––––––––––– */
#menu {
	border-bottom: solid 1px #dedede;
	background-color: rgba(255,255,255,.8);
	position: fixed;
	width: 100%;
	z-index: 2;
	ul {
		margin-bottom: 0;
		li {
			display:inline-block;
			padding-left: 20px;
			margin-top: 10px;
			a {
				text-decoration: none;
				color: #224d7a;
				font-size: 18px;
			}
		}
	}
}

/* About
 * –––––––––––––––––––––––––––––––––––––––––––––––––– */
#about { 
	margin-top: 150px;
	max-width: 700px;
	padding: 0 20px;
}
#download {
	margin: 0 auto;
	display: block;
	width: 250px;
	margin-top: 40px;
	margin-bottom: 80px;
}

/* Cards
 * –––––––––––––––––––––––––––––––––––––––––––––––––– */
img.scale-with-grid {
	max-width: 100%;
	height: auto; 
}

.card {
	.card-desc {
		padding: 40px 40px 60px 20px;
		margin-top: -10px;
		color: #454545;
	}
	.column {
		margin-bottom: -10px;
	}
}

/* Media Queries
 * –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.card-desc {
		padding: 40px 40px 60px 0;
	}
	#about { 
		padding-left: 0;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
