/* Menu
 * ================================================== */
$button-size : 3.5rem; 
$transition: .3s;

#nav{
	border-bottom: solid 1px #dedede;
	background-color: rgba(255,255,255,.8);
	position: fixed;
	width: 100%;
	z-index: 2;
	margin-top: -45px;
	
	#menu {
		ul {
			margin-bottom: 0;
			li {
				display:inline-block;
				padding-right: 30px;
				margin-top: 10px;
				&:last-child {
					padding-right: 0px;
				}
				a {
					text-decoration: none;
					color: #224d7a;
					font-size: 18px;
				}
			}
		}
	}
}
/* About
 * ================================================== */
#page-title-wrapper {
	background-color: #fafafa;
	margin-top: 45px;
	#page-title {
	    max-width: 700px;
	    padding: 60px 0px 0px 0px;
	}
}

#download {
	margin-top: 40px;
	margin-bottom: 40px;
	a {
	   margin: 0 auto;
	   display: block;
	   width: 250px;
	}
}

#about-wrapper {
	background-color: #fafafa;
	margin-top: 50px;
	#about, #team {
	    max-width: 700px;
	    padding: 50px 0px 0px 0px;
	}
	#team{
		margin-left: 0px;
		.team-member{
			p {
				line-height: 1em;
			}
			.role {
				font-size: 14px;
			}
		}
	}
	#footer {
		margin-left: 0px;
	}
}



/* Cards
 * ================================================== */
img.scale-with-grid {
		max-width: 100%;
		height: auto;
}

.card {
	margin: 10px 0 10px 0;
	.card-desc {
		padding: 40px 0px 60px 0px;
		color: #454545;
		ul {
			list-style: none;
			li {
				position: relative;
				//make smaller lighter bullets
				&:before {
					content: "";
					position: absolute;
					left: -15px;
					top: calc( 1.3rem - 2.5px );
					width: 5px;
					height: 5px;
					border-radius: 5px;
					background: #878787;
				}
			}
		}
	}
	.card-img {
		img {
			border-radius: 15px;
			-webkit-border-radius: 15px;
			overflow:hidden;
			-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
	    	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
	    	z-index: 2;
    	}
	}
}

.social{
	display: block;
	height: 40px;
	float: right;
	opacity: 60%;
	/*margin-top: -45px;
	background: rgba(255,255,255,.5);
	z-index: 4;*/
	ul {
		list-style: none;
		margin-top: 8px;
		li{
			display: inline-block;
			padding-left: 8px;
			.social-button {
				display: inline-block;
				border: #4791BA 2px solid;
				padding: 8px;
				border-radius: 36px;
				&:hover{
					background-color: #4791BA;
					#twitter {
						background: url("../images/twitter-white.svg") no-repeat;
						background-size: contain;
						background-position: right 50% bottom 50%;
					}
					#facebook{
						background: url("../images/facebook-white.svg") no-repeat;
						background-size: contain;
						background-position: right 50% bottom 50%;
					}
				}
				#twitter, #facebook {
					height:18px;
					width: 18px;
					padding: 0;
				}
				#twitter {
					background: url("../images/twitter.svg") no-repeat;
					background-size: contain;
					background-position: right 50% bottom 50%;
				}
				#facebook{
					background: url("../images/facebook.svg") no-repeat;
					background-size: contain;
					background-position: right 50% bottom 50%;
				}
			}
		}
	}
}


/* Pack
 * ================================================== */
.pack {
	width: 100%;
	padding: 30px 0;
	
	.pack-info,
	.current-image-wrap {
		//display: inline-block;
		// width: 50%;
		// float: left;
	}
	.current-image {
		float: left;
		border-radius: 15px;
	    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
	}
	.pack-images-group-line {
		width: 100%;
		img {
			margin-bottom: 10px;
			border-radius: 5px;
			box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
		}
	}
	.social {
		float: none;
		li {
			padding-left: 0;
		}
	}
	.clearfix {
		content: "."; 
	    visibility: hidden; 
	    display: block; 
	    height: 0; 
	    clear: both;
	}
}



/* Footer
 * ================================================== */
#footer {
	font-size: 14px;
	border-top: solid 1px #dedede;
	margin-top: 40px;
	padding-top: 20px
}

/* Media Queries
 * ================================================== */
//.container { border: solid purple 1px;}
/* Larger than mobile */
@media (max-width: 549px) {
	//.container { border: solid red 1px;}
	.current-image-wrap {
		display: none;
	}
	.pack-images-group-line {
		img {
			width: 48px;
			margin-right: 3px;
			float: left;
		}
	}
}

/* Larger than phablet (also point when grid becomes active)*/
@media (min-width: 550px) and (max-width: 749px) {
	//.container { border: solid orange 1px;}
	#page-title-wrapper {
		#page-title {
			padding-top: 50px;
		    padding-bottom: 20px;
		}
	}
	.current-image-wrap {
		display: none;
	}
	.pack-images-group-line {
		img {
			width: 80px;
			margin-right: 3px;
		}
	}

}

/* Larger than tablet */
@media (min-width: 750px) and (max-width: 999px) {
	//.container { border: solid yellow 1px;}
	.card{ 
		margin-bottom: 50px;
		.card-desc {
	        padding: 0 40px 60px 20px;
	        h3{
	        	margin-top: 0;
	        	vertical-align: top;
	        }
	    }
	}
	#page-title-wrapper {
		#page-title {
			padding-top: 50px;
		    padding-bottom: 20px;
		}
	}
    #about {
        padding-left: 0;
    }
	#download {
		margin-top: 60px;
		margin-bottom: 70px;
	}
	.pack-info,
	.current-image-wrap {
		display: inline-block;
		width: 50%;
		float: left;
	}

	.current-image {
		height: 350px;
	}
	.pack-images-group-line {
		img {
			width: 50px;
			margin-right: 1px;
		}
	}
}

/* Larger than desktop */
@media (min-width: 1000px) and (max-width: 1199px) {
	//.container { border: solid green 1px;}
	.pack-info,
	.current-image-wrap {
		display: inline-block;
		width: 50%;
		float: left;
	}
	.current-image {
		height: 480px;
	}
	.pack-images-group-line {
		img {
			width: 67px;
			margin-right: 4px;
		}
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	//.container { border: solid blue 1px;}
	.pack-info,
	.current-image-wrap {
		display: inline-block;
		width: 50%;
		float: left;
	}
	.current-image {
		height: 510px;
	}
	.pack-images-group-line {
		img {
			width: 78px;
			margin-right: 8px;
		}
	}
}
